@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Space+Grotesk:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #d90429;
}

.highlighter {
  color: #d90429;
}

.cursor {
  z-index: 1000;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 2px solid #d90429;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.jais-port {
  padding: 2rem;
  color: #2b2d42;
}
.jais-port__navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.jais-port__navbar-logo {
  font-family: "Playfair Display", serif;
}
.jais-port__navbar-logo h1 {
  color: #2b2d42;
}
.jais-port__navbar-logo h1 span {
  color: #d90429;
}
.jais-port__navbar-item {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jais-port__navbar-item .item {
  margin-right: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8d99ae;
}
.jais-port__navbar-item .item .arrow {
  display: none;
}
.jais-port__navbar-item .item .arrow svg {
  margin-right: 0.3rem;
}
.jais-port__navbar-item .item .left__outline {
  display: none;
  height: 1rem;
  width: 2px;
  border-radius: 2px;
  background: black;
  margin-right: 0.2rem;
}
.jais-port__navbar-item .item .right__outline {
  width: 2px;
  border-radius: 2px;
  display: none;
  height: 1rem;
  background: black;
  margin-left: 0.2rem;
}
.jais-port__navbar-item .item.active {
  transition: all 0.5s ease-in-out;
  color: #d90429;
}
.jais-port__navbar-item .item.active .arrow {
  display: block;
}
.jais-port__navbar-item .item.active .arrow svg {
  -webkit-animation: rotate 1s infinite;
          animation: rotate 1s infinite;
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(350deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(350deg);
  }
}
.jais-port__navbar-item .item.active .right__outline,
.jais-port__navbar-item .item.active .left__outline {
  display: block;
}
.jais-port__navbar-btn {
  font-family: "Playfair Display", serif;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  background: black;
  color: white;
  cursor: pointer;
  background: #d90429;
  color: #edf2f4;
  width: 8rem;
}
@media screen and (max-width: 950px) {
  .jais-port__navbar-item .item {
    margin-right: 1rem;
  }
}
.jais-port__navbar.sticky {
  transition: all 0.5s ease-in-out;
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 7px black;
  background: white;
  z-index: 2;
}
@media screen and (max-width: 820px) {
  .jais-port__navbar-item {
    z-index: 2;
    position: absolute;
    top: 5rem;
    width: 11rem;
    right: 2rem;
    background-color: #dedede;
    border-radius: 5px;
    padding: 1rem;
    align-items: flex-start;
    flex-direction: column;
  }
  .jais-port__navbar-item .item {
    margin-right: 0;
    margin-bottom: 0.8rem;
  }
  .jais-port__navbar-item .mobile__hire {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #d90429;
    color: #edf2f4;
    cursor: pointer;
  }
  .jais-port__navbar-item .mobile__hire svg {
    margin-right: 0.5rem;
  }
  .jais-port__navbar-btn {
    display: none;
  }
}
.jais-port__hero {
  overflow: hidden;
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  margin-top: 3rem;
}
.jais-port__hero-info {
  width: 100%;
}
.jais-port__hero-info .line1 {
  font-size: 2rem;
}
.jais-port__hero-info .line1 h1 {
  margin: 1.5rem 0;
}
.jais-port__hero-info .line1 h1 span {
  color: #ef233c;
}
.jais-port__hero-info .line1 p span {
  color: #d90429;
}
.jais-port__hero-info .line1 p:last-child {
  margin-top: 1.5rem;
}
.jais-port__hero-info .line1 p:last-child span {
  color: #d90429;
  border-bottom: 2px solid black;
}
.jais-port__hero-contact {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.jais-port__hero-contact .btn {
  cursor: pointer;
  padding: 0.5rem 3rem;
  background: #d90429;
  color: #edf2f4;
  border-radius: 5px;
}
.jais-port__hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (max-width: 1410px) {
  .jais-port__hero {
    padding: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .jais-port__hero .line1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .jais-port__hero {
    margin-top: 0;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 2rem 0;
  }
  .jais-port__hero-image {
    margin-bottom: 2rem;
  }
}
.jais-port__about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Playfair Display", serif;
}
.jais-port__about-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jais-port__about-title .stroke__title {
  font-size: 4rem;
}
.jais-port__about-title .stroke__title h1 {
  opacity: 0.07;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}
.jais-port__about-title .detail {
  position: absolute;
  font-family: "Space Grotesk", sans-serif;
  bottom: -1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.jais-port__about-title .detail p {
  color: #d90429;
  font-weight: 600;
}
.jais-port__about-content {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.jais-port__about-content__image {
  width: 100%;
}
.jais-port__about-content__detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3rem;
}
.jais-port__about-content__detail .para {
  width: 35rem;
}
.jais-port__about-content__detail .para p:last-child {
  margin-top: 3rem;
}
.jais-port__about-content__detail .hire__btn {
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.jais-port__about-content__detail .hire__btn .btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  width: 10rem;
  background: #d90429;
  color: #edf2f4;
}
@media screen and (min-width: 820px) and (max-width: 990px) {
  .jais-port__about-content__detail {
    font-size: 1.2rem;
  }
  .jais-port__about-content__detail .para {
    width: 24rem;
  }
}
@media screen and (max-width: 820px) {
  .jais-port__about-content {
    flex-direction: column;
  }
  .jais-port__about-content .para {
    width: 100%;
  }
  .jais-port__about-content .hire__btn {
    justify-content: center;
  }
  .jais-port__about-content__detail {
    align-items: center;
  }
}
@media screen and (max-width: 820px) and (max-width: 620px) {
  .jais-port__about-title .stroke__title {
    font-size: 2.9rem;
  }
  .jais-port__about-title .detail {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 820px) and (max-width: 500px) {
  .jais-port__about-title .stroke__title {
    font-size: 2.5rem;
  }
  .jais-port__about-title .detail {
    bottom: -0.8rem;
    font-size: 1rem;
  }
  .jais-port__about-content__detail {
    font-size: 1.1rem;
  }
  .jais-port__about-content__detail .hire__btn {
    width: 100%;
  }
  .jais-port__about-content__detail .hire__btn .btn {
    justify-content: center;
    width: 100%;
  }
  .jais-port__about-content__detail .hire__btn .btn svg {
    margin-right: 1rem;
  }
}
.jais-port__services {
  margin-top: 4rem;
  background: rgb(239, 239, 239);
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jais-port__services-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jais-port__services-title .stroke__title {
  font-size: 4rem;
}
.jais-port__services-title .stroke__title h1 {
  opacity: 0.07;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}
.jais-port__services-title .detail {
  position: absolute;
  font-family: "Space Grotesk", sans-serif;
  bottom: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.jais-port__services-content {
  padding: 3rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
}
.jais-port__services-content .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jais-port__services-content .item__outer {
  color: white;
  margin-bottom: 2rem;
  position: relative;
}
.jais-port__services-content .item__outer .shell {
  border: 3px solid #d90429;
  border-radius: 4px;
  background: black;
  padding: 4rem;
  transform: rotate(45deg);
}
.jais-port__services-content .item__outer .img {
  position: absolute;
  top: 2rem;
  left: 2rem;
  bottom: 5rem !important;
}
@media screen and (max-width: 1050px) {
  .jais-port__services-content {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 900px) {
  .jais-port__services-title .stroke__title {
    font-size: 3rem;
  }
  .jais-port__services-title .detail {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 650px) {
  .jais-port__services .stroke__title {
    font-size: 2rem;
  }
  .jais-port__services .detail {
    font-size: 1rem;
    bottom: 0.3rem;
  }
  .jais-port__services-content {
    flex-direction: column;
  }
  .jais-port__services-content .item {
    margin-bottom: 5rem;
  }
  .jais-port__services-content .item h2 {
    font-size: 1.1rem;
  }
  .jais-port__services-content .item .shell {
    padding: 3rem;
  }
  .jais-port__services-content .item .img {
    top: 1rem;
    left: 1rem;
  }
  .jais-port__services-content .item:last-child {
    margin-bottom: 0;
  }
}
.jais-port__technology {
  margin: 5rem 0;
  font-family: "Playfair Display", serif;
}
.jais-port__technology-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jais-port__technology-title .stroke__title {
  font-size: 4rem;
}
.jais-port__technology-title .stroke__title h1 {
  opacity: 0.07;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}
.jais-port__technology-title .detail {
  position: absolute;
  font-family: "Space Grotesk", sans-serif;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.jais-port__technology-content {
  margin-top: 3rem;
}
.jais-port__technology-content .desktop {
  padding: 1rem 8rem;
}
.jais-port__technology-content .desktop__tech {
  background: #edf2f4;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
}
.jais-port__technology-content .desktop__tech img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.jais-port__technology-content .desktop .swiper-button-next,
.jais-port__technology-content .desktop .swiper-button-prev {
  color: #d90429;
}
@media screen and (max-width: 700px) {
  .jais-port__technology-content .desktop {
    padding: 1rem 6rem;
  }
}
.jais-port__technology-content .mobile {
  padding: 2rem 3rem;
}
.jais-port__technology-content .mobile__tech {
  background: #edf2f4;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
}
.jais-port__technology-content .mobile .swiper-pagination {
  bottom: -3rem !important;
}
.jais-port__technology-content .mobile .swiper-pagination-bullet-active {
  background: #d90429 !important;
}
@media screen and (max-width: 900px) {
  .jais-port__technology-title .stroke__title {
    font-size: 3rem;
  }
  .jais-port__technology-title .detail {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 650px) {
  .jais-port__technology .stroke__title {
    font-size: 2rem;
  }
  .jais-port__technology .detail {
    font-size: 1rem;
    bottom: 0.3rem;
  }
}
.jais-port__project {
  font-family: "Playfair Display", serif;
  background: rgb(239, 239, 239);
  border-radius: 5px;
}
.jais-port__project-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jais-port__project-title .stroke__title {
  font-size: 4rem;
}
.jais-port__project-title .stroke__title h1 {
  opacity: 0.07;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}
.jais-port__project-title .detail {
  position: absolute;
  font-family: "Space Grotesk", sans-serif;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.jais-port__project-content {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.jais-port__project-content .card {
  width: 25rem;
  width: 100%;
  padding: 1rem;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jais-port__project-content .card__image {
  cursor: pointer;
  position: relative;
}
.jais-port__project-content .card__image .screen {
  position: absolute;
  top: 0;
  border-radius: 5px;
  width: 100%;
  bottom: 0;
}
.jais-port__project-content .card__image img {
  border-radius: 5px !important;
  height: 100% !important;
  filter: grayscale(100%);
}
.jais-port__project-content .card:hover img {
  transition: all 0.5s ease-in-out;
  filter: grayscale(0);
}
.jais-port__project-content .card__detail {
  padding: 1rem;
}
.jais-port__project-content .card__info {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  flex-direction: column;
}
.jais-port__project-content .card a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.jais-port__project-content .card__btn {
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.jais-port__project-content .card__btn p {
  font-weight: 600;
}
.jais-port__project-content .card__btn:hover {
  transition: all 0.5s ease-in-out;
  border: 1px solid #d90429;
  background: #d90429;
  color: white;
}
@media screen and (min-width: 2300px) {
  .jais-port__project-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1260px) {
  .jais-port__project-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 930px) {
  .jais-port__project-content {
    padding: 5rem 2rem;
  }
}
@media screen and (max-width: 680px) {
  .jais-port__project-content {
    padding: 5rem 1rem;
  }
}
@media screen and (max-width: 630px) {
  .jais-port__project-content {
    padding: 5rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .jais-port__project-content {
    padding: 3rem 2rem;
  }
}
.jais-port__project-load {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jais-port__project-load .btn,
.jais-port__project-load .less__btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}
.jais-port__project-load .btn:hover,
.jais-port__project-load .less__btn:hover {
  transition: all 0.5s ease-in-out;
  border: 1px solid #d90429;
  background: #d90429;
  color: white;
}
@media screen and (max-width: 900px) {
  .jais-port__project-title .stroke__title {
    font-size: 3rem;
  }
  .jais-port__project-title .detail {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 650px) {
  .jais-port__project .stroke__title {
    font-size: 2rem;
  }
  .jais-port__project .detail {
    font-size: 1rem;
    bottom: 0.3rem;
  }
}/*# sourceMappingURL=index.css.map */